<div class=" xl:h-full xl:flex xl:flex-col xl:justify-center mx-4">
  <h2 class="">CONTACT ME</h2>
  <div class=" ">
    <div class="grid grid-cols-1 lg:grid-cols-2 ">
      <div class="flex flex-col gap-5">
        <p>You can send mail, ill response ASAP!</p>
        <br>
        <p class="flex items-center gap-2"><mat-icon>mail</mat-icon> shafiulislam20@gmail.com</p>
        <p class="flex items-center gap-2"><mat-icon>phone</mat-icon> +8801749727797</p>
      </div>
      <form action="">
        
      </form>

    </div>
  </div>
</div>
