<div class=" xl:h-full xl:flex xl:flex-col xl:justify-center mx-4">
  <h2 class="">CONTACT ME</h2>
  <br>
  <div class=" ">
    <main class="overflow-hidden ">
      <!-- Contact section -->
      <section class="relative" aria-labelledby="contact-heading">
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 ">
          <div class="relative shadow-xl">
            <h2 id="contact-heading" class="sr-only">Contact me</h2>

            <div class="grid grid-cols-1 lg:grid-cols-3 items-center rounded-2xl  glass-border">
              <!-- Contact information -->
              <div class="h-fit relative overflow-hidden py-10 px-6 sm:px-10 xl:p-12 rounded-xl">
                <!-- Decorative angle backgrounds -->
                <div class="absolute inset-0 pointer-events-none sm:hidden" aria-hidden="true">
                  <svg class="absolute inset-0 w-full h-full" width="343" height="388" viewBox="0 0 343 388" fill="none"
                       preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
                    <path d="M-99 461.107L608.107-246l707.103 707.107-707.103 707.103L-99 461.107z" fill="url(#linear1)"
                          fill-opacity=".1"/>
                    <defs>
                      <linearGradient id="linear1" x1="254.553" y1="107.554" x2="961.66" y2="814.66"
                                      gradientUnits="userSpaceOnUse">
                        <stop stop-color="#fff"></stop>
                        <stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
                      </linearGradient>
                    </defs>
                  </svg>
                </div>
                <h3 class="text-lg font-medium text-white text-[1.5rem]">Contact information</h3>
                <dl class="mt-8 space-y-6">
                  <dt><span class="sr-only">Phone number</span></dt>
                  <dd class="flex text-base text-teal-50">
                    <!-- Heroicon name: outline/phone -->
                    <svg class="flex-shrink-0 w-6 h-6 text-teal-200" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"/>
                    </svg>
                    <span class="ml-3">+8801749727797</span>
                  </dd>
                  <dt><span class="sr-only">Email</span></dt>
                  <dd class="flex text-base text-teal-50">
                    <!-- Heroicon name: outline/mail -->
                    <svg class="flex-shrink-0 w-6 h-6 text-teal-200" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"/>
                    </svg>
                    <span class="ml-3">shafiulislam20@gmail.com</span>
                  </dd>
                </dl>
                <ul role="list" class="mt-8 flex space-x-12">
                  <li>
                    <a class="text-teal-200 hover:text-teal-100" href="https://www.facebook.com/shafipolu/" target="_blank">
                      <span class="sr-only">Facebook</span>
                      <svg fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="40px" height="40px">    <path d="M12,2C6.477,2,2,6.477,2,12c0,5.013,3.693,9.153,8.505,9.876V14.65H8.031v-2.629h2.474v-1.749 c0-2.896,1.411-4.167,3.818-4.167c1.153,0,1.762,0.085,2.051,0.124v2.294h-1.642c-1.022,0-1.379,0.969-1.379,2.061v1.437h2.995 l-0.406,2.629h-2.588v7.247C18.235,21.236,22,17.062,22,12C22,6.477,17.523,2,12,2z"/></svg>                    </a>
                  </li>
                  <li>
                    <a class="text-teal-200 hover:text-teal-100" href="https://github.com/ishafiul" target="_blank">
                      <span class="sr-only">GitHub</span>
                      <svg fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 30 30" width="40px" height="40px">    <path d="M15,3C8.373,3,3,8.373,3,15c0,5.623,3.872,10.328,9.092,11.63C12.036,26.468,12,26.28,12,26.047v-2.051 c-0.487,0-1.303,0-1.508,0c-0.821,0-1.551-0.353-1.905-1.009c-0.393-0.729-0.461-1.844-1.435-2.526 c-0.289-0.227-0.069-0.486,0.264-0.451c0.615,0.174,1.125,0.596,1.605,1.222c0.478,0.627,0.703,0.769,1.596,0.769 c0.433,0,1.081-0.025,1.691-0.121c0.328-0.833,0.895-1.6,1.588-1.962c-3.996-0.411-5.903-2.399-5.903-5.098 c0-1.162,0.495-2.286,1.336-3.233C9.053,10.647,8.706,8.73,9.435,8c1.798,0,2.885,1.166,3.146,1.481C13.477,9.174,14.461,9,15.495,9 c1.036,0,2.024,0.174,2.922,0.483C18.675,9.17,19.763,8,21.565,8c0.732,0.731,0.381,2.656,0.102,3.594 c0.836,0.945,1.328,2.066,1.328,3.226c0,2.697-1.904,4.684-5.894,5.097C18.199,20.49,19,22.1,19,23.313v2.734 c0,0.104-0.023,0.179-0.035,0.268C23.641,24.676,27,20.236,27,15C27,8.373,21.627,3,15,3z"/></svg>
                    </a>
                  </li>
                  <li>
                    <a class="text-teal-200 hover:text-teal-100" href="https://www.linkedin.com/in/ishafiul/" target="_blank">
                      <span class="sr-only">Twitter</span>
                      <svg fill="#FFFFFF" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="40px" height="40px">    <path d="M19,3H5C3.895,3,3,3.895,3,5v14c0,1.105,0.895,2,2,2h14c1.105,0,2-0.895,2-2V5C21,3.895,20.105,3,19,3z M9,17H6.477v-7H9 V17z M7.694,8.717c-0.771,0-1.286-0.514-1.286-1.2s0.514-1.2,1.371-1.2c0.771,0,1.286,0.514,1.286,1.2S8.551,8.717,7.694,8.717z M18,17h-2.442v-3.826c0-1.058-0.651-1.302-0.895-1.302s-1.058,0.163-1.058,1.302c0,0.163,0,3.826,0,3.826h-2.523v-7h2.523v0.977 C13.93,10.407,14.581,10,15.802,10C17.023,10,18,10.977,18,13.174V17z"/></svg>                    </a>
                  </li>
                </ul>
              </div>

              <!-- Contact form -->
              <div class="py-10 px-6 sm:px-10 lg:col-span-2 xl:p-12">
                <h3 class="text-lg font-medium text-warm-gray-900">Send me a message</h3>
                <form [formGroup]="sendMessage" (ngSubmit)="sendMail()">
                  <div class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
                    <mat-form-field appearance="fill" class="kc-form-field">
                      <mat-label>First Name</mat-label>
                      <input matInput placeholder="Ex. Safiul" formControlName="fname">
                      <mat-error *ngIf="sendMessage.controls['fname'].errors?.['required']">
                        Please enter your first name!
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" class="kc-form-field">
                      <mat-label>Last Name</mat-label>
                      <input matInput formControlName="lname" placeholder="Ex. Islam">
                      <mat-error *ngIf="sendMessage.controls['lname'].errors?.['required']">
                        Please enter your last name!
                      </mat-error>
                    </mat-form-field>

                  </div>
                  <mat-form-field appearance="fill" class="kc-form-field">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Ex. shafiulislam20@gmail.com">
                    <mat-error *ngIf="sendMessage.controls['email'].errors?.['required']">
                      Please enter your email!
                    </mat-error>
                    <mat-error *ngIf="sendMessage.controls['email'].errors?.['email']">
                      Please enter a valid email!
                    </mat-error>
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="kc-form-field">
                    <mat-label>Subject</mat-label>
                    <input matInput formControlName="subject">
                    <mat-error *ngIf="sendMessage.controls['lname'].errors?.['required']">
                      Please enter a subject for email!
                    </mat-error>
                  </mat-form-field>
                  <mat-form-field appearance="fill" class="w-full">
                    <mat-label>Message</mat-label>
                    <textarea matInput rows="5" formControlName="message"></textarea>
                    <mat-error *ngIf="sendMessage.controls['lname'].errors?.['required'] && !messageSend">
                      Please enter some message for me!
                    </mat-error>
                  </mat-form-field>
                  <h4 *ngIf="messageSend">Message Send!</h4>
                  <div *ngIf="!isLoading" class="flex gap-5 justify-end">
                    <button mat-ripple class="button">Send</button>
                  </div>
                  <div *ngIf="isLoading" class="flex gap-5 justify-end">
                    <button mat-ripple class="button " disabled><mat-spinner [diameter]="38"></mat-spinner></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

    </main>
  </div>
</div>
