<div class=" xl:h-full xl:flex xl:flex-col xl:justify-center mx-4">
  <h2 class="">ABOUT ME</h2>
  <div class=" ">
    <div class="grid lg:grid-cols-2 grid-cols-1 gap-5 items-center place-items-center">
      <div class="space-y-8">
        <h1 class="text-6xl">I’m Safiul Islam</h1>
        <p class="text-2xl tracking-wider">A developer who loves to code and passionate about designing and developing Web APIs. Personally I like JavaScript a lot. I enjoy working with frameworks such as React, Angular, Express, Nest, and sometime Laravel...
        </p>
      </div>
      <div class="">
        <img class="relative rounded-2xl shadow-2xl" src="assets/img_1.png" alt="">
      </div>
    </div>
  </div>
</div>
