
  <div class="z-20 relative flex justify-center items-center " id="follower">
    <div class="w-1 h-1 rounded-full bg-white " id="ds"></div>
    <div class="w-8 h-8 rounded-full border" id="td"></div>
  </div>

  <ul id="ul" class="-z-20 ">
    <li class="" *ngFor="let artist of artists; let i = index;let even = even" [style.background-color] ="artist.backgroundColor"  [class.active]="status === i" (click)="setIndex(i,artist.componentName)">
      <h3 class="text-white ">{{ artist.name }}</h3>
      <div class="section-content h-full text-white w-full ">
        <div class="inner flex h-full w-full overflow-y-auto overflow-x-hidden ">
          <div class="">
            <ng-container *ngComponentOutlet="content" class=""></ng-container>
          </div>
        </div>
      </div>
    </li>
  </ul>

